{%  if bartender is not null %}
<form method="post" action="{{ path('add_bartender') }}" class="form-check-inline">
    <input type="text" value='{{ bartender.id }}' name="product" hidden>
    <input type="number" name="quantity" value="1" hidden>
    <input type="submit" value="hire bartender" class=" btn add-to-cart">
</form>
{% endif %}
