<form method="post" action="{{ path('edit_amount_from_cart') }}" class="form-check-inline">
    <input type="text" value='{{ bartender.id }}' name="product" hidden>
    <input type="number" name="quantity" value="1" hidden>
    <input type="submit" value="hire bartender">
</form>
