

<!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>{% block title %}Welcome!{% endblock %}</title>
        </head>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
                  integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

            <link href="{{ asset('main.css') }}" rel="stylesheet"/>
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        <footer class="footer-distributed">
            <div class="parallax-container">
                <div class="street"></div>
            </div>

            <div class="footer-left">
                <img class="footer-logo" src="images/brandname.svg" alt="brandName">
                <h3>Cocktails<span>freshly served at your home!</span></h3>

                <p class="footer-links">
                    <a href="#">Home</a>
                    |
                    <a href="{{ path('contact') }}">About us</a>
                    |
                    <a href="#">Contact</a>
                </p>

                <p class="footer-company-name">© 2021 cheerzz</p>
            </div>

            <div class="footer-center">
                <div>
                    <p><span>Justitiestraat, 2018 Antwerpen</span></p>
                </div>

                <div>
                    <p>+32 485 52 20 45</p>
                </div>
                <div>
                    <p><a href="mailto:support@eduonix.com">cheerz@info.com</a></p>
                </div>
            </div>

            <div class="footer-right">
                <p class="footer-company-about">
                    <span>About cheerzz</span>
                    Making summers greater than ever with our homemade cocktails at your door, for you to enjoy or made live by one of our bartenders</p>
                <div class="social-links footer-links">
                    <a href="#" target="_blank" rel="noopener" class="socials nav-link">
                        <img class="social-icons" src="images/facebook.svg" alt="facebook"></a>
                    <a href="#" target="_blank" rel="noopener" class="socials nav-link">
                        <img class="social-icons" src="images/instagram.svg" alt="instagram"></a>
                    <a href="#" target="_blank" rel="noopener" class="socials nav-link">
                        <img class="youtube social-icons" src="images/youtube.svg" alt="youtube"></a>
                </div>
            </div>
        </footer>
    </body>
</html>
