{% extends 'base.html.twig' %}

{% block title %}New HomeBrew{% endblock %}

{% block body %}

    <h1 class="text-center title-homeBrew">Make your own Cocktail!</h1>

    {{ include('home_brew/_form.html.twig') }}

{#    <a href="{{ path('home_brew_index') }}">back to list</a>#}
{% endblock %}
